* {
    padding: 0;
    margin: 0;

}

header {

    background-color: rgb(255, 255, 255);
    display: flex;



}

.logo {

    width: 200px;
    padding-left: 130px;
    padding-top: 5px;
}

.navbar {
    margin-left: 400px;
}


.icons {
    margin-left: 300px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }

    /* header end */    

/* banner start */
.banner {
    position: relative;
    width: 100%;
    height: auto;
}

img.image1 {
    position: absolute;
    width: 100%;
}

.box {
    position: relative;
    width: 30%;
    background-color: #917c6e;
    margin-left: 150px;
    height: 10px 0;
}

.content {
    color: white;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 235px;

}

.content h2 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 60px;
}

button {
    width: 200px;
    padding: 10px;
    border: none;
    color: #917c6e;
}

/* banner End */

/* image container  start*/
.container {
    display: flex;
    justify-content: center;
    height: 100vh 0;
    text-align: center;
    padding-top: 30px;
}

.card img {
    border: none;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.card-container {
    display: flex;
    gap: 30px;
}

h5 {
    padding-top: 30px;
}

/* image container close */


/* container 2 start */
.container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 7%;
    margin-top: 30px;
    background-color: rgb(241, 241, 241);
}

.image-content {

    text-align: right;
}

.image-content img {
    width: 100%;

}

.text-content {

    text-align: center;
    padding: 20px;
}

.container2 h2 {
    padding-top: 50px;
    font-size: 40px;
}

.container2 p {
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 20px;
}

.text-content a {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

/* container 2 end */

/* container 3 start */
.container3 {

    margin: 0 7%;
    height: 100vh;
    margin-top: 50px;

}

.container3 h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.card-top {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;


}

.card-item {

    display: grid;
    width: 300px;
    height: 90vh;
}

.card-item img {
    height: 400px;
    width: 300px
}

.card-item button {
    border: 2px solid black;
    margin-top: 60px;
    width: 300px;
    background-color: white;
    color: black;
    font-weight: bold;
}

.container3 h5 {
    font-size: 18px;
}

/* container 3 close */
/* container 4 start */

.container4 {
    margin: 0 7%;
    margin-top: 10px;
    background-color: rgb(241, 241, 241);
    height: 100vh;
}

.item-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 50vh;
}

.image-content2 {
    text-align: right;
    height: 50vh;

}

.image-content2 img {
    height: 50vh;
    width: 100%;
}

.text-content2 {

    text-align: center;
    padding: 10px;
}

.container4 h2 {
    padding-top: 40px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.container4 p {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
}

.text-content2 a {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

/*  item bottom*/

.item-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 50vh;
}

.image-content3 {
    text-align: left;
    height: 50vh;

}

.image-content3 img {
    height: 50vh;
    width: 100%;
}

/* container 4 end */


/* Footer */
footer {
    padding: 50px;
    margin-top: 60px;
    height: 40vh;
    background-color: rgba(58, 56, 69, 1);
    width: 100%;
    display: flex;
    color: white;
}

.layer1 {
    width: 500px;
    padding: 30px;
    padding-left: 100px;
}
.layer1 button {
    width: 150px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(58, 56, 69, 1);
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.layer2 {
    padding-left: 50px;
    width: 200px;
    margin-left: 20px;
}

.layer2 h3 {
    font-size: 20px;
    padding-bottom: 10px;
}

.layer2 p {
    font-weight: lighter;
}

.copyrights {
    border: 1px solid white;
    background-color: rgba(58, 56, 69, 1);
    color: rgb(187, 187, 187);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    font-weight: lighter;
}

/* footer end */
i{
    font-size: 30px;
    font-weight:800;
}