* {
    padding: 0;
    margin: 0;

}

header {

    background-color: rgb(255, 255, 255);
    display: flex;



}

.logo {

    width: 200px;
    padding-left: 130px;
    padding-top: 5px;
}

.navbar {
    margin-left: 400px;
}


.icons {
    margin-left: 300px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }

    /* header end */ 
    .container{
    
        margin-top: 80px;
    }  
    .layer1{
        border-bottom: 2px solid rgb(141, 141, 141);
    }
    .container h1{
        text-align: center;
    }
    .layer2{
        display: flex;
        padding-top: 20px;
}
.layer2 p{
    padding-top: 50px;
    padding-left: 80px;
    font-weight: 500;
}
.layer2 img{
    width: 150px;
    height: 200px;
}


/*  */
.wrapper {
width: 844px;
  height: 160px;
margin-left: 20%;
  
}
.wrapper h5{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}
.margin-area {
  position: relative;
  text-align: center;
  font-family: "Trebuchet", sans-serif;
  font-size: 14px;
  margin: 0 20px;
}
.dot {
  height: 30px;
  width: 30px;
  position: absolute;
  background: #000;
  border-radius: 50%;
  top: 10px;
  color: #fff;
  line-height: 30px;
  z-index: 9999;
  &.one {
    left: 65px;
    background: #3A3845;
  }
  &.two {
    left: 280px;
    background:#3A3845;
  }
  &.three {
    left: 490px;
    background: #bbb;
    color: #000000;
  }
  &.four {
    left: 700px;
    background: #bbb;
    color: #000000;
  }
}
.progress-bar {
  position: absolute;
  height: 10px;
  width: 25%;
  top: 20px;
  left: 10%;
  background: #bbb;
  &.first {
    background: #3A3845;
  }
  &.second {
    left: 37%;
    background: #bbb;
  }
  &.third {
    left: 64%;
     background: #bbb;
  }
}
.message {
  position: absolute;
  height: 60px;
  width: 170px;
  padding: 10px;
  margin: 0;
  left: -8px;
  top: 0;
  color: #000;
  &.message-1 {
    top: 40px;
    color: #000;
  }
  &.message-2 {
    left: 210px;
  }
  &.message-3 {
    left: 210px;
    color: #000;
  }
  &.message-4 {
    left: 210px;
  }
}
.status {
  position: absolute;
  width: 700px;
  left: -600px;
  text-align: center;
  padding: 20px;
  color: black;
  &.code {
    top: 70px;
  }
}
a {
  color: #0C84D9;
  text-decoration: none;
  font-weight: bold;
  &:hover, &:focus {
    text-decoration: underline;
  }
}



/*  */
.address{
  margin: 0 7%;
  display: flex;
  margin-bottom: 500px;
}
.address1{
  margin-left: 400px;
  padding-top: 40px;
}
.address2{
  margin-left: 200px;
   padding-top: 40px;
}
.address h5{
padding-bottom: 10px;
}


/*  */


/* Footer */
footer {
    padding: 50px;
    height: 40vh;
    background-color: rgba(58, 56, 69, 1);
    width: 100%;
    display: flex;
    color: white;
}

.layers1 {
    width: 500px;
    padding: 30px;
    padding-left: 100px;
}
.layers1 button {
    width: 150px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(58, 56, 69, 1);
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.layers2 {
    padding-left: 50px;
    width: 200px;
    margin-left: 20px;
}

.layers2 h3 {
    font-size: 20px;
    padding-bottom: 10px;
}

.layers2 p {
    font-weight: lighter;
}

.copyrights {
    border: 1px solid white;
    background-color: rgba(58, 56, 69, 1);
    color: rgb(187, 187, 187);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    font-weight: lighter;
}
/* footer end */